@media print {
    * {
        box-shadow: none!important;
        background-image: none;
        font-family: 'Times New Roman', Times, serif;
    }

    #navbar {
        display: none;
    }
    
    #top-btn {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    footer {
        margin-top: 2em;
    }

    .article-btn {
        display: none;
    }

    #aside-column {
        display: none;
    }

}