$dark-brown: #180E00;
$light-brown: #BA6D01;
$pumpkin: #FB9709;
$pumpkin-light: #ffa72b;
$pumpkin-lighter: #FFB142;
$latte: #FFC168;
$latte-light: #FFC472;
$latte-lighter: #fac881;
$milk: #FFE5BF;