@media only screen and (max-width: 600px) {

    #container-page, #container-page-main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        column-gap: 1em;
        row-gap: 1em;
        grid-template-areas:  "header"
                            "nav"
                            "main"
                            "aside"
                            "footer";
    }
}

@media only screen and (min-width: 600px) {

    #container-page-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 1em;
        row-gap: 1em;
        grid-template-areas:  "header header header header header"
                            "nav nav nav nav nav"
                            "main main main aside aside"
                            "main main main . ."
                            "footer footer footer footer footer";
    }

    #container-page {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        column-gap: 1em;
        row-gap: 1em;
        min-height: 100vh;
        grid-template-areas:  "header header header header header"
                              "nav nav nav nav nav"
                              "main main main main main"
                              "footer footer footer footer footer";
    }
}